{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <h1>Desenvolvedores</h1>
       <ul class="list-group list-group-horizontal">
  <li class="list-group-item">Breno Henrique Alencar Franco</li>
  <li class="list-group-item">RA: 3020200397</li>
  <li class="list-group-item">5A</li>
</ul>
<ul class="list-group list-group-horizontal-sm">
  <li class="list-group-item">Gian Luca Sindici</li>
  <li class="list-group-item">RA: 3021102513</li>
  <li class="list-group-item">5A</li>
</ul>
<ul class="list-group list-group-horizontal-md">
  <li class="list-group-item">Kevin Pedro da Silva</li>
  <li class="list-group-item">RA: 3021103858</li>
  <li class="list-group-item">5A</li>
</ul>
<ul class="list-group list-group-horizontal-lg">
  <li class="list-group-item">Egielle Feitosa Paiva</li>
  <li class="list-group-item">RA: 3021104454</li>
  <li class="list-group-item">5A</li>
</ul>
<ul class="list-group list-group-horizontal-xl">
  <li class="list-group-item">Leonardo Magalhães Vezzali</li>
  <li class="list-group-item">RA: 3021100035</li>
  <li class="list-group-item">5A</li>
</ul>
<ul class="list-group list-group-horizontal-xxl">
  <li class="list-group-item">Thíers Manrony e Silva</li>
  <li class="list-group-item">RA: 3021100160</li>
  <li class="list-group-item">5A</li>
</ul>
 <ul class="list-group list-group-horizontal-xxl">
  <li class="list-group-item">Gabriel Aquino de Castro</li>
  <li class="list-group-item">RA: 3022201802</li>
  <li class="list-group-item">2A</li>
</ul>
    </div>




{% endblock %}